apiVersion: v1
kind: ServiceMonitor
metadata:
  name: {{ include "todo-app.fullname" . }}-monitor
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "todo-app.selectorLabels" . | nindent 6 }}
  endpoints:
    - port: http
      interval: 30s
      path: /metrics